<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script nonce="{nonce}">
	( function() {
		const features = {
			'JSON.render': () => {
				return 'render' in JSON;
			},

			'fetch.JSON': () => {
				return 'JSON' in fetch;
			}
		};
		const toLoad = Object.entries( features ).reduce( ( toLoad, [ feature, test ] ) => {
			if ( !test() ) {
				toLoad.push( feature );
			}

			return toLoad;
		}, [] );

		if ( toLoad.length > 0 ) {
			createScript( `/polyfills?features=${ encodeURI( toLoad.join( ',' ) ) }` );
		}

		createScript( '/app.js' );

		function createScript( src ) {
			const script = document.createElement( 'script' );

			script.defer = true;
			script.async = false;
			script.src = src;

			document.head.appendChild( script );
		}
	}() );
	</script>
	<title>My super hiper web app</title>
</head>
<body>
	<div id="app"></div>
</body>
</html>